@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&display=swap");

/* Font families */
/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Colors */
/* Primary : #0970CD */
/* Secondary : #0198E9 */
/* Red : #FF5D5D */
/* dark : #383838 */
/* light-dark : #33333385 */
/* footer-light-dark : #33333380 */
/* Gray : #757575 */
/* Placeholder : #9B9B9B */
/* Navitems : #4D4D4D */

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

/*Start Reuseable CSS */

a {
  display: inline-block;
  text-decoration: none;
}
button {
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}

/* Container of website */
.container {
  max-width: 144rem;
  margin: 0 auto;
}

/*END Reuseable CSS */
