@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font families */
/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Colors */
/* Primary : #0970CD */
/* Secondary : #0198E9 */
/* Red : #FF5D5D */
/* dark : #383838 */
/* light-dark : #33333385 */
/* footer-light-dark : #33333380 */
/* Gray : #757575 */
/* Placeholder : #9B9B9B */
/* Navitems : #4D4D4D */

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #0970cd;
  --secondary: #0198e9;
  --red: #ff5d5d;
  --dark: #383838;
  --light-dark: rgba(51, 51, 51, 0.85);
  --gray: #757575;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  background-color: #fafafa;
}

/*Start Reuseable CSS */

a {
  display: inline-block;
  text-decoration: none;
}
button {
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
.common_heading {
  font-family: "Poppins", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--dark);
  text-transform: capitalize;
  @media (max-width: 900px) {
    font-size: 1.6rem;
  }
}
/*END Reuseable CSS */

/* Additional CSS */

/* NavBar css */
.main_header {
  font-family: "Poppins", sans-serif;

  border-bottom: 0.15rem solid #efeeee;
}
.navbarWrapper {
  display: grid;
  grid-template: 1fr / repeat(12, 1fr);
  grid-template-areas: "l l s s s s s s . a a a a";

  .logo {
    grid-area: l;
  }

  .search_input_box {
    grid-area: s;
    input {
      width: 100%;
      padding: 1.3rem 2rem;
      border: 0.1rem solid #f1f1f1;
      font-weight: 400;
      font-size: 1.6rem;
      color: #9b9b9b;
      border-radius: 0.5rem 0 0 0.5rem;
      &::placeholder {
        font-family: "Poppins", sans-serif;
      }
    }

    .search_icon {
      border-radius: 0 0.5rem 0.5rem 0;
      color: #ffffff;
    }
  }
}
nav .nav_actions_group {
  grid-area: a;
}
nav .nav_actions {
  p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #4d4d4d;
  }
  .cart_item_couter {
    line-height: 2rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

ul.navMenu {
  position: relative;

  li {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-dark);
    text-transform: uppercase;
    &:hover {
      .navbarDropDown {
        top: 110%;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

/* DropDown */
.navbarDropDown {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  position: absolute;
  top: 120%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 100ms ease-in-out;

  ul {
    li {
      &:first-child {
        a {
          font-size: 1.6rem;
          font-weight: 500;
          color: #3d3d3d;
        }
        margin-bottom: 0.2rem;
      }
      a {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--gray);
        text-transform: capitalize;
      }
      margin-bottom: 0.6rem;
    }
  }
}

@media (max-width: 900px) {
  .navbarWrapper {
    grid-template: 2fr / repeat(2, 1fr);
    grid-template-areas:
      "l a"
      "s s";
    justify-content: space-between;
    .nav_actions_group {
      margin-left: auto;
    }
    .search_input_box {
      grid-area: s;
      input {
        padding: 0.8rem 1.3rem;
      }
    }
  }

  ul.navMenu {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      font-size: 1.4rem;
      margin-right: 2rem;
    }
  }
}

.showMore_btn {
  border-radius: 8.1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
/* Home start  */
.home_banner_wrapper {
  padding: 1.3rem 0;
  display: grid;
  grid-template: 1fr / repeat(12, 1fr);
  grid-template-areas: "f f f f f f f f t t t t";
  .home_slider {
    grid-area: f;
    position: relative;
    .banner_heading_box {
      position: absolute;
      top: 50%;
      left: 5.696rem;
      transform: translateY(-50%);
      h1 {
        font-size: 4.5rem;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        width: 37.565rem;
        color: var(--primary);
      }
      p {
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        color: #646464;
        font-weight: 400;
        line-height: 4rem;
        width: 41.77rem;
        margin-bottom: 2.764rem;
        margin-top: 4.6rem;
      }
      button.shop_now_btn {
        background-color: var(--secondary);
        color: #ffffff;
        font-family: "Poppins", sans-serif;

        padding: 1rem 2.5rem;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 0.5rem;
      }
    }
    .carousel .control-dots .dot {
      background-color: #fff;
      box-shadow: none;
      width: 1.2rem;
      height: 1.2rem;
    }
    .carousel .control-dots .dot.selected,
    .carousel .control-dots .dot:hover {
      background-color: var(--secondary);
    }
  }
  .banner_right_part {
    margin-left: auto;
    grid-area: t;
    .banner_image_three {
      margin-top: 2.8rem;
    }
    .banner_image_three,
    .banner_image_two {
      position: relative;
      img {
        border-radius: 1rem;
      }
      button.banner_btn {
        padding: 1.6rem 3.2rem;
        color: var(--secondary);
        font-weight: 600;
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        background-color: rgba(250, 250, 250, 0.8);
        border-radius: 0.5rem;
        position: absolute;
        bottom: 1.838rem;
        left: 50%;
        transform: translateX(-50%);
        &.banner_btn_one {
          width: 26.8rem;
        }
        &.banner_btn_two {
          width: 35.2rem;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .home_banner_wrapper {
    grid-template-areas: "f f f f f f f f f f f f";
    .home_slider {
      .banner_heading_box {
        left: 2.1rem;
        top: 40%;
        h1 {
          font-size: 1.8rem;
          font-weight: 700;
          width: 18rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 2rem;
          width: 18.4rem;
          margin-bottom: 1.2rem;
          margin-top: 1rem;
        }
        button.shop_now_btn {
          padding: 0.5rem 1.6rem;
          font-size: 1.2rem;
        }
      }
    }
  }
  .carousel .control-dots .dot {
    width: 0.8rem !important;
    height: 0.8rem !important;
    margin-left: 0.7rem !important;
  }
}

/* Main Categories css */

.category_wrapper {
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 3.2rem;
    gap: 1.3rem;
    li.single_category {
      border-radius: 0.6rem;
      background: #fff;
      box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.08);
      p {
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        color: #394146;
        margin-left: 1rem;
      }
      .rightStroke_icon {
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 900px) {
  .category_wrapper {
    ul {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 1.6rem;
      column-gap: 0.8rem;
      row-gap: 1rem;
      li.single_category {
        p {
          font-size: 1.4rem;
          line-height: 1.7rem;
        }
        .rightStroke_icon {
          width: 1.6rem;
        }
      }
    }
  }
}

/* Flash Details */
.flash_deals_wrapper {
  .viewmoreBtn {
    color: var(--gray);
    font-size: 1.6rem;
    span {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }
  }
}

/* Proeducs wrapper */
.product_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  &.all_product_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  gap: 2.5rem;
}

/* single product */

.single_product_wrapper {
  font-family: "Poppins", sans-serif;
  padding: 0.87rem 0.986rem 1.522rem 0.986rem;
  border: 0.1rem solid #e9e9e9;
  border-radius: 1rem;
  figure {
    position: relative;
    .product_image {
      border-radius: 1rem;
    }
    figcaption {
      background: var(
        --Gd,
        linear-gradient(82deg, #ff7a00 24.9%, #ffb800 96.57%)
      );
      border-radius: 0.9rem 0.2rem 0.2rem 0.2rem;
      color: #fff;
      padding: 0.45rem 1.25rem;
      width: 9.1rem;
      font-size: 1.4rem;
      font-weight: 600;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .product_title {
    color: var(--dark);
    font-size: 1.8rem;
    line-height: 2.16rem;
    font-weight: 400;
    width: 29.4rem;
    margin: 1rem 0;
  }
  p.price_tag {
    color: var(--primary);
    font-size: 2.2rem;
    font-weight: 500;
  }
}

@media (max-width: 900px) {
  /* Proeducs wrapper */
  .product_wrapper {
    grid-template-columns: repeat(2, 49%);
    gap: 1.6rem;
  }
  .single_product_wrapper {
    padding: 0.5rem;
    padding-bottom: 1.4rem;
    figcaption {
      width: 5rem !important;
      padding: 0.24rem 0.649rem !important;
      font-size: 0.8rem !important;
    }
    .product_title {
      font-size: 1.4rem;
      width: 16.5rem;
      margin: 0.8rem 0;
    }
    p.price_tag {
      font-size: 1.6rem;
    }
  }
}

/* footer */
footer {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
#shipping_icon {
  font-size: 6.1rem;
}
#star_icon {
  font-size: 5.4rem;
}
#history_icon {
  font-size: 4rem;
}
#credit_icon {
  font-size: 4.6rem;
}

.footer_top_text {
  h5 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #333333;
  }
  p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray);
  }
}

.main_footer {
  border: 0.1rem solid;
  border-color: #e5e5e5 transparent #e5e5e5 transparent;
}

.main_footer_wrapper {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  .first_row {
    p {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.8rem;
      width: 39rem;
      font-family: "Lato", sans-serif;
      margin-top: 3.5rem;
      color: rgba(51, 51, 51, 0.8);
      margin-bottom: 2.6rem;
    }
  }
  ul {
    li {
      margin: 2.2rem 0;
      color: rgba(51, 51, 51, 0.8);

      font-size: 1.8rem;
      font-weight: 400;
      &:first-child {
        font-size: 2rem;
        font-weight: 500;
        color: #333333;
        margin-top: 0;
        margin-bottom: 3rem;
      }
    }
  }
  .footer_contact {
    h5 {
      font-size: 2rem;
      font-weight: 500;
      color: #333333;
    }
    p {
      color: rgba(51, 51, 51, 0.8);

      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      width: 29rem;
    }

    .call_info {
      span {
        font-size: 1.8rem;
        font-weight: 400;
        color: #333333;
      }
      h6 {
        font-size: 2.8rem;
        font-weight: 600;
      }
    }
  }
}

.copyRight {
  p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray);
  }
  span {
    color: rgba(1, 152, 233, 0.8);
    font-size: 1.8rem;
    font-weight: 500;
  }
}

@media (max-width: 900px) {
  #shipping_icon {
    font-size: 4rem;
  }
  #star_icon {
    font-size: 3.7rem;
  }
  #history_icon {
    font-size: 3.8rem;
  }
  #credit_icon {
    font-size: 4rem;
  }

  .footer_top_text {
    p {
      font-size: 1.8rem;
    }
  }

  .main_footer_wrapper {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column-reverse;
    .first_row {
      p {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.8rem;
        width: 39rem;
        font-family: "Lato", sans-serif;
        color: var(--light-dark);
        margin-top: 3.5rem;
        margin-bottom: 2.6rem;
      }
    }
    ul {
      margin: 3rem 0;
      li {
        margin: 1.6rem 0;
        font-size: 1.6rem;
        &:first-child {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
